{% load static %}
<div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
    <div class="mdk-drawer__content">
        <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>
            <div class="d-flex align-items-center sidebar-p-a border-bottom sidebar-account">
                {% if request.session.rol == 3 %}
                <a href="{% url 'admin' %}" class="flex d-flex align-items-center text-underline-0 text-body">
                    <span class="flex d-flex flex-column">
                        <strong>{{ request.session.full_name }}</strong>
                        <small class="text-muted text-uppercase">Manager</small>
                    </span>
                </a>    
                {% elif request.session.rol == 4 %}
                    <a href="{% url 'user_admin' %}" class="flex d-flex align-items-center text-underline-0 text-body">
                        <span class="flex d-flex flex-column">
                            <strong>{{ request.session.full_name }}</strong>
                            <small class="text-muted text-uppercase">Manager</small>
                        </span>
                    </a>    
                {% else %}
                    <a href="#" class="flex d-flex align-items-center text-underline-0 text-body">
                        <span class="flex d-flex flex-column">
                            <strong>{{ request.session.full_name }}</strong>
                            <small class="text-muted text-uppercase">Agente</small>
                        </span>
                    </a>       
                {% endif %}  
            </div>
            <ul class="sidebar-menu">
                <li class="sidebar-menu-item active open">
                    <a class="sidebar-menu-button" href="/user/list">
                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">group</i>
                        <span class="sidebar-menu-text">Agentes</span>
                    </a>
                </li>
                <li class="sidebar-menu-item active open">
                    <a class="sidebar-menu-button" href="/user/rol">
                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">person</i>
                        <span class="sidebar-menu-text">Roles</span>
                    </a>
                </li>
                <li class="sidebar-menu-item active open">
                    <a class="sidebar-menu-button" href="/message/label">
                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">label</i>
                        <span class="sidebar-menu-text">Etiquetas</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="/client/show/{{ request.session.client_id }}">
                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">settings</i>
                        <span class="sidebar-menu-text">Configuración de Sesión</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-p-a">
                <a href="/user/logout" class="btn btn-outline-primary btn-block">Cerrar Sesión</a>
            </div>

        </div>
    </div>
</div>