{% load static %}

<!-- Header -->

<div id="header" class="mdk-header js-mdk-header m-0" data-fixed>
    <div class="mdk-header__content">

        <div class="navbar navbar-expand-sm navbar-main navbar-dark bg-dark  pr-0" id="navbar" data-primary>
            <div class="container-fluid p-0">

                <!-- Navbar toggler -->

                <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button"
                    data-toggle="sidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <!-- Navbar Brand -->
                <a href="{% url 'home' %}" class="navbar-brand ">
                    <img class="navbar-brand-icon" src="{% static 'images/Manager.svg' %}" width="70" alt="Stack">
                    <span>WhatApp Admin</span>
                </a>
                <ul class="nav navbar-nav ml-auto d-none d-md-flex">                    
                    <li class="nav-item dropdown">
                        <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown"
                            data-caret="false">                            
                            <span class="ml-1 d-flex-inline">
                                <span class="text-light">{{ request.session.full_name }}</span>
                            </span>
                        </a>
                        <div id="account_menu" class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-item-text dropdown-item-text--lh">
                                <div><strong>{{ request.session.full_name }}</strong></div>
                                <div>@{{  request.session.username }}</div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item active" href="{% url 'home' %}">Inicio</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/user/logout">Cerrar Sesión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- // END Header -->