{% load static %}
<div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
    <div class="mdk-drawer__content">
        <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>
            <div class="d-flex align-items-center sidebar-p-a border-bottom sidebar-account">
                <a href="#" class="flex d-flex align-items-center text-underline-0 text-body">
                    <span class="flex d-flex flex-column">
                        <strong>{{agent_name}}</strong>
                        <small class="text-muted text-uppercase">Admin Manager</small>
                    </span>
                </a>
            </div>
            <ul class="sidebar-menu">
                <li class="sidebar-menu-item active open">
                    <a class="sidebar-menu-button" href="/client/list">
                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">assignment_ind</i>
                        <span class="sidebar-menu-text">Cientes</span>
                    </a>
                </li>
                <li class="sidebar-menu-item active open">
                    <a class="sidebar-menu-button" href="/user/list">
                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">group</i>
                        <span class="sidebar-menu-text">Agentes</span>
                    </a>
                </li>
                <li class="sidebar-menu-item active open">
                    <a class="sidebar-menu-button" href="/user/rol">
                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">person</i>
                        <span class="sidebar-menu-text">Roles</span>
                    </a>
                </li>
                <li class="sidebar-menu-item active open">
                    <a class="sidebar-menu-button" href="/message/label">
                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">label</i>
                        <span class="sidebar-menu-text">Etiquetas</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="/client/show/1">
                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">settings</i>
                        <span class="sidebar-menu-text">Configuración de Sesión</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-p-a">
                <a href="https://themeforest.net/item/stack-admin-bootstrap-4-dashboard-template/22959011" class="btn btn-outline-primary btn-block">Cerrar Sesión</a>
            </div>

        </div>
    </div>
</div>