{% load static %}
<div class="mdk-drawer-layout__content page">
    <div class="container-fluid page__heading-container">
        <div class="page__heading d-flex align-items-center"></div>
    </div>
    <div class="container-fluid page__container">        
        <div class="card">
            <div class="row h-90 m-0">
                <div class="col-lg-8 py-3 d-flex flex-column h-50">
                    <div class="card stories-card">
                        <div class="stories-card__content d-flex align-items-center flex-wrap">
                            <div class="search-form form-control-rounded search-form--light">
                                <input type="text" class="form-control" placeholder="Buscar en mensage"
                                    id="searchSample02">
                                <button class="btn" type="button" role="button"><i
                                        class="material-icons">search</i></button>
                            </div>
                        </div>
                    </div>

                    <!-- Start Message list section -->
                    <div class="flex p-3 d-flex flex-column">
                        <div data-simplebar style="overflow-y: scroll; overflow-x: hidden; height: 40vh;">
                            {% for msg in messages %}     
                                {% if not msg.is_client  %}                
                                    <div class="media border-bottom py-3">
                                        <a href="#" class="avatar avatar-sm mr-3">
                                            <img src="{% static 'images/1.png' %}"
                                                class="avatar-img rounded-circle" alt="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div class="d-flex align-items-center">
                                                <div class="flex">
                                                    <a href="#" class="text-body bold">{{ msg.sender }}</a>
                                                </div>
                                                <small class="text-muted">{{ msg.time }}</small>
                                            </div>
                                            <div>{{ msg.message }}</div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="media border-bottom py-3 customer-message">
                                        <div class="media-body">
                                            <div class="d-flex align-items-center" style="flex-direction: row-reverse;">
                                                <div class="flex" style="text-align: right; margin-right: 2%;">
                                                    <a href="#" class="text-body bold">{{ msg.sender }}</a>
                                                </div>
                                                <small class="text-muted">{{ msg.time }}</small>
                                            </div>
                                            <div class="customer-message-text">{{ msg.time }}</div>
                                        </div>
                                        <a href="#" class="avatar avatar-sm mr-3">
                                            <img src="{% static 'images/2.png' %}"
                                                class="avatar-img rounded-circle" alt="avatar">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="input-group input-group-merge">
                        <form method="POST" action="{% url 'send_message' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" id="chat_id" name="chat_id" value="{{ messages.0.chat_id }}" ><input>
                            <input type="hidden" id="phone_number" name="phone_number" value="{{ messages.0.phone_number }}" ><input>
                            <textarea class="form-control form-control-appended" required=""
                            placeholder="Responder" rows=3 id="message_body" name="message_body"></textarea>
                            <div class="input-group-append">
                                <div class="input-group-text pr-2">
                                    <button class="btn btn-flush" type="submit"><i
                                            class="material-icons" style="font-size: 24px; color: #4a6b4d;">send</i></button>
                                </div>
                                <div class="input-group-text pr-2">
                                    <button class="btn btn-flush" type="button"><i
                                            class="material-icons" style="font-size: 24px; color: #4a6b4d;">tag_faces</i></button>
                                </div>
                                <div class="input-group-text pl-0">
                                    <div class="custom-file custom-file-naked d-flex" style="width: 24px">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" style="color: inherit;" for="customFile">
                                            <i class="material-icons" style="font-size: 24px; color: #4a6b4d;">attach_file</i>
                                        </label>
                                    </div>
                                </div>
                                <div class="input-group-text pr-2">
                                    <div class="dropdown ml-auto">
                                        <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"
                                            aria-expanded="false"><i
                                                class="material-icons customer-message-icons" style="color: #4a6b4d;">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right" style="display: none;">
                                            <a href="javascript:void(0)" class="dropdown-item">Respuesta automática</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="javascript:void(0)" class="dropdown-item">Etiquetar</a>
                                            <a href="javascript:void(0)" class="dropdown-item">Cerrar conversación</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-lg-4 py-3 px-0 bg-white border-left d-flex flex-column">
                    <div class="form-group px-3">
                        <!-- <div class="input-group input-group-merge input-group-rounded">
                            <input type="text" class="form-control form-control-prepended" placeholder="Buscar chat">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="material-icons">filter_list</span>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="flex d-flex flex-column">
                        <div data-simplebar style="height: 60vh;">
                            <div class="list-group list-group-flush" style="position: relative; z-index: 0;">
                                {% for act in actives %}
                                    <div class="list-group-item d-flex media align-items-center customer-chat-active">
                                        <a href="#" class="avatar avatar-sm media-left mr-3">
                                            <img src="{% static 'images/1.png' %}"
                                                alt="Avatar" class="avatar-img rounded-circle">
                                        </a>
                                        <div class="media-body">
                                            <p class="m-0">
                                                <strong>{{ act.sender }}</strong><br>
                                                {% if status %}
                                                    <span class="badge badge-soft-success">Okay</span>
                                                {% else %}
                                                    <span class="badge badge-soft-danger">Pendiente por respuesta</span>
                                                {% endif %}

                                            </p>
                                        </div>
                                        <a href="/client?chat_id={{ act.chat_id }}" title="Responder"><i
                                                class="material-icons ml-3 customer-message-icons">reply</i></a>
                                        <a href="#" title="Guardar"><i
                                                class="material-icons ml-3 customer-message-icons">save</i></a>                                        
                                        <div class="dropdown ml-auto">
                                            <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"
                                                aria-expanded="false"><i
                                                    class="material-icons customer-message-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right" style="display: none;">
                                                <a href="javascript:void(0)" class="dropdown-item">Re asignar</a>
                                                <a href="javascript:void(0)" class="dropdown-item">Etiquetar</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>