{% extends "../bases/main.html"%}
{% block content %}
<div class="mdk-header-layout js-mdk-header-layout">
    {% include "../bases/header.html" %}
    <div class="mdk-header-layout__content">
        <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
            {% include "../bases/rol_edit.html" %}
            {% if request.session.rol == 3 %}
            {% include "../bases/manager_sidebar.html" %}       
            {% else %}
            {% include "../bases/admin_sidebar.html" %}       
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}